body{
    background: #fffffe;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
background: url('weather.png');
background-size: cover;
background-repeat:no-repeat ;
}

#app{
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-columns:  */
    height:100vh;
    color: #ffffff;
    justify-content: center;
    grid-gap: 1em;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    text-shadow: #000000;
    text-align: center;

}

.entry{
    height: 10rem;
    background: #2356b680;
    text-shadow: 0 1.2rem 1rem rgba(0,0,0,0.7);
    color: #fcfcfc;
  font-family: "Times New Roman", sans-serif;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#entryHolder{
    font-size: 1.5rem;
    height: 100px;
    align-items: center;

}

#date{
    color: #080808;
    font-family: 'Oswald', sans-serif;

}

#temp{
    color: #080808;
    font-family: 'Oswald', sans-serif;
    /*&#xf769;*/
}

#content{
    color: #080808;
    font-family: 'Oswald', sans-serif;

}

.headline {
    font-size: 2rem;
    padding: 20px;

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#2356b680;
    color: #070707;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    border: none;
    text-align: left;
    justify-content: center;
}

button{
    width: 300px;
    height: 60px;
    background: #1994b667;
    color: #083041;
    font-size: 26px;
    font-family: "Times New Roman", sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    
}
h1{
    font-size: 50px;
}

textarea{
    width: 320px;
    height: 60px;
    background: #2356b680;
    color: #050505;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    justify-content: center;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #061e29; 
    font-family: 'Raleway', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 